div.page {
	width: 100%;
	height: 100%;
	/* overflow: auto; */
	/* padding:1px; */
}

div.top {
	width: 100%;	
	background-color: #f2f2f2;
	height: 28%;
	float:top;
}

div.middle {
	width: 100%;	
	background-color: white;
	height: 28%;
	float: top;	
}

div.bottom {
	width: 100%;	
	background-color: white;
	height: 42%;
	/*
	border-style: solid;
	border-width: thick thin thin thin;
	*/
}

div.bottom_left {
	width: 33%;	
	height: 100%;
	background-color: #f2f2f2;
	float: left;
}

div.bottom_middle {
	width: 33%;
	height: 100%;
	background-color: white;	
	float: left;
	border-style: solid;
	border-width: 0px 2px 0px 2px;
	padding: 0px 0px 0px 7px;
}

div.bottom_right {
	width: 33%;	
	background-color: #f2f2f2;
	height: 100%;
	float: right;
}

/*
 Table CSS
 */
.CSSTableGenerator {
	margin:0px;
	padding:0px;
	width:99%;	
	height: 93%;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #000000;
	
	-moz-border-radius-bottomleft:9px;
	-webkit-border-bottom-left-radius:9px;
	border-bottom-left-radius:9px;
	
	-moz-border-radius-bottomright:9px;
	-webkit-border-bottom-right-radius:9px;
	border-bottom-right-radius:9px;
	
	-moz-border-radius-topright:9px;
	-webkit-border-top-right-radius:9px;
	border-top-right-radius:9px;
	
	-moz-border-radius-topleft:9px;
	-webkit-border-top-left-radius:9px;
	border-top-left-radius:9px;
}
.CSSTableGenerator table{
    border-collapse: collapse;
    border-spacing: 0;
	width:100%;
	height:99%;
	margin:0px;padding:0px;
	/*
	background:url(voast.png);
	background-repeat: no-repeat;
	background-position: center;
	*/
}

/* Left most column */
.CSSTableGenerator td:first-child {
	background-color:#fcfcfc;
	font-size: 24px;
	font-family: Arial;
	font-weight: bold;
	width:25%;
	text-align: left;
}

.CSSTableGenerator tr:last-child td:last-child {
	-moz-border-radius-bottomright:9px;
	-webkit-border-bottom-right-radius:9px;
	border-bottom-right-radius:9px;
}
.CSSTableGenerator table tr:first-child td:first-child {
	-moz-border-radius-topleft:9px;
	-webkit-border-top-left-radius:9px;
	border-top-left-radius:9px;
}
.CSSTableGenerator table tr:first-child td:last-child {
	-moz-border-radius-topright:9px;
	-webkit-border-top-right-radius:9px;
	border-top-right-radius:9px;
}
.CSSTableGenerator tr:last-child td:first-child{
	-moz-border-radius-bottomleft:9px;
	-webkit-border-bottom-left-radius:9px;
	border-bottom-left-radius:9px;
}

.CSSTableGenerator tr:nth-child(odd){ background-color:#d3dfff; opacity: 0.95; }
.CSSTableGenerator tr:nth-child(even)    { background-color:#ffffff; opacity:0.95;}

/* Main Data Items */
.CSSTableGenerator td{
	vertical-align:middle;
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:center;
	padding:7px;
	font-size:32px;
	font-family:Arial;
	font-weight:bold;
	color:#000000;
}

.CSSTableGenerator tr:last-child td{
	border-width:0px 1px 0px 0px;
}
.CSSTableGenerator tr td:last-child{
	border-width:0px 0px 1px 0px;
}
.CSSTableGenerator tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.CSSTableGenerator tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.CSSTableGenerator tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}

/* Headers */
.CSSTableGenerator tr:first-child td{
		background:-o-linear-gradient(bottom, #a8a4a4 5%, #fcfcfc 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a8a4a4), color-stop(1, #fcfcfc) );
	background:-moz-linear-gradient( center top, #a8a4a4 5%, #fcfcfc 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#a8a4a4", endColorstr="#fcfcfc");	background: -o-linear-gradient(top,#a8a4a4,fcfcfc);
	background-color:#a8a4a4;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:18px;
	font-family:Arial;
	font-weight:bold;
	color:#191919;
}

