div.page {
	width: 100%;	
	overflow: auto;
	padding:2px;
}

div.left {
	width: 66%;	
	background-color: #FFFFFF;
	height: 100%;
	float:left;
}

div.right {
	float:right;
	width: 33%;
	height: 100%;
	background-color: #black;
}

div.TopHalf {
	float: top;
	width: 99%;
	height: 49%;
	background-color: F2F2F2;
	border:1px solid #000000;
	border-width:1px 1px 1px 1px;
}

div.BottomHalf {
	float: bottom;
	width: 99%;
	height: auto;
	background-color: #black;
	border:1px solid #000000;
	border-width:1px 1px 1px 1px;
}

.center {
	text-align: center;
}

.CSSTableTitle { /* This is the div itself */
	margin:0px;padding:0px;
	width:100%;
	height:5%;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #000000;
	
	-moz-border-radius-bottomleft:9px;
	-webkit-border-bottom-left-radius:9px;
	border-bottom-left-radius:9px;
	
	-moz-border-radius-bottomright:9px;
	-webkit-border-bottom-right-radius:9px;
	border-bottom-right-radius:9px;
	
	-moz-border-radius-topright:9px;
	-webkit-border-top-right-radius:9px;
	border-top-right-radius:9px;
	
	-moz-border-radius-topleft:9px;
	-webkit-border-top-left-radius:9px;
	border-top-left-radius:9px;
}

.CSSTableData {
	width:100%;
}

.CSSTableTitle tr:first-child td { /*Text in the first tr*/
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7db9e8+0,697f99+100&amp;0+0,0.7+32,1+38,1+100 */
background: -moz-linear-gradient(top,  rgba(125,185,232,0) 0%, rgba(119,166,207,0.7) 32%, rgba(118,163,202,1) 38%, rgba(105,127,153,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(125,185,232,0) 0%,rgba(119,166,207,0.7) 32%,rgba(118,163,202,1) 38%,rgba(105,127,153,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(125,185,232,0) 0%,rgba(119,166,207,0.7) 32%,rgba(118,163,202,1) 38%,rgba(105,127,153,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#697f99',GradientType=0 ); /* IE6-9 */
}

div.middleTopLeftHalf {
	float: left;
	width: 49%;
	height: 100%;
	background-color: #ffffff;
	border:1px solid #000000;
	border-width:1px 1px 1px 1px;
}

div.middleTopRightHalf {
	float: right;
	width: 50%;
	height: 100%;
	background-color: #ffffff;
	border:1px solid #000000;
	border-width:1px 1px 1px 1px;
}

td.header{
	vertical-align:middle;
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:center;
	padding:1px;
	font-size:20px;
	font-family:Arial;
	font-weight:bold;
	background-color:#4775FF; opacity: 0.90; 
}

tr.data:nth-child(odd){ background-color:#EBF5FF; opacity: 0.90; }
tr.data:nth-child(even)    { background-color:#ffffff; opacity:0.90;}
td.data{
	vertical-align:middle;
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:center;
	padding:1px;
	font-size:18px;
	font-family:Arial;
	color:#000000;
}
td.data:first-child {	
	text-align: left;
}

#headers {
	font-size:50px;	
	/*	text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);	*/
    color: rgba(10,60,150, 0.8);
    text-shadow: 1px 4px 6px #def, 0 0 0 #000, 1px 4px 6px #def;
}

#message {
	font-size:50px;	
	/*	text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);	*/
    color: #000000;
    text-shadow: 1px 4px 6px #def, 0 0 0 #000, 1px 4px 6px #def;
}

#values {
	 font-size:200px;
	 text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}




