div.page {
	width: 98%;	
	overflow: auto;
	margin:2px;
	padding: 4px;
}

div.pagetop {
	width: 100%;	
	height: 70%;
	overflow: auto;	
	float:top;
	margin:0;
	background-color: #650360; 
	border: 2px solid #650360;
}
div.topleft {
	width: 50%;
	height: 100%;
	background-color: white;
	float:left;
}

div.topright {
	background-color: white;
	width: 49%;
	height: 100%;
	float:right;
	
}

div.pagebottom {
	width: 99%;
	height: 30%;
	background-color: white;
	border: 2px solid #650360;
	position: absolute;
}

div.bottomleft {
	width:49%;
	float: left;
}

div.bottomright {
	width:49%;
	float: right;
}

div.Header {
	text-align: center;
	color: #650360;
	font-size: 64px;	
	font-weight: bold;
	text-shadow: 2px 1px 3px black;
}

td.header{
	vertical-align:middle;
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:center;
	padding:1px;
	font-size:20px;
	font-family:Arial;
	font-weight:bold;
	background-color:#4775FF; opacity: 0.90; 
}

tr.data:nth-child(odd){ background-color:#EBF5FF; opacity: 0.90; }
tr.data:nth-child(even)    { background-color:#ffffff; opacity:0.90;}
td.data{
	vertical-align:middle;
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:center;
	padding:1px;
	font-size:18px;
	font-family:Arial;
	color:#000000;
}
td.data:first-child {	
	text-align: left;
}

#headers {
	font-size:50px;		
    color: rgba(10,60,150, 0.8);
    text-shadow: 1px 4px 6px #def, 0 0 0 #000, 1px 4px 6px #def;
}

#values {
	 font-size:200px;
	 text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

.center {
	text-align: center;
}

.CSSTableGenerator { /* Main Div */
	margin:0px;padding:0px;
	width:98%;
	height:90%;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #000000;
	
	-moz-border-radius-bottomleft:9px;
	-webkit-border-bottom-left-radius:9px;
	border-bottom-left-radius:9px;
	
	-moz-border-radius-bottomright:9px;
	-webkit-border-bottom-right-radius:9px;
	border-bottom-right-radius:9px;
	
	-moz-border-radius-topright:9px;
	-webkit-border-top-right-radius:9px;
	border-top-right-radius:9px;
	
	-moz-border-radius-topleft:9px;
	-webkit-border-top-left-radius:9px;
	border-top-left-radius:9px;
}
.CSSTableGenerator table{
    border-collapse: collapse;
    border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;	
	background:url(Ally_r.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 30%;
	
}




.CSSTableGenerator tr:last-child td:last-child { /* Rounded corner bottom right */
	-moz-border-radius-bottomright:9px;
	-webkit-border-bottom-right-radius:9px;
	border-bottom-right-radius:9px;
}
.CSSTableGenerator table tr:first-child td:first-child { /* Rounded corner top left */
	-moz-border-radius-topleft:9px;
	-webkit-border-top-left-radius:9px;
	border-top-left-radius:9px;
}
.CSSTableGenerator table tr:first-child td:last-child { /* Rounded corner top right */
	-moz-border-radius-topright:9px;
	-webkit-border-top-right-radius:9px;
	border-top-right-radius:9px;
}
.CSSTableGenerator tr:last-child td:first-child{ /*Rounded bottom left */
	-moz-border-radius-bottomleft:9px;
	-webkit-border-bottom-left-radius:9px;
	border-bottom-left-radius:9px;
}

.CSSTableGenerator tr:last-child td{ /* Right border last row */
	border-width:0px 1px 0px 0px;
}
.CSSTableGenerator tr td:last-child{ /* Bottom border last column */
	border-width:0px 0px 1px 0px;
}
.CSSTableGenerator tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.CSSTableGenerator tr:first-child td:first-child{ /*Border between headers and top left data row */
	border-width:0px 0px 1px 0px;
}
.CSSTableGenerator tr:first-child td:last-child{ /*Border between header and last data column and last header and header to the left. */
	border-width:0px 0px 1px 1px;
}

/*Alternating background colors */
.CSSTableGenerator tr:nth-child(odd){ background-color:#FBF2FC; opacity: 0.80; }
.CSSTableGenerator tr:nth-child(even)    { background-color:#ffffff; opacity:0.80;}

.CSSTableGenerator td:first-child {/*Left Hand Column*/
	background-color:#fcfcfc;
	font-size: 32px;
	font-family: Arial;
	font-weight: bold;
	width:50%;
	text-align: left;
}

.CSSTableGenerator td{ /* Most data items */
	vertical-align:middle;
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:center;
	padding:7px;
	font-size:28px;
	font-family:Arial;
	font-weight:bold;
	color:#000000;
}

.inThreshold {
	color: red; 	
	-webkit-animation-name: blinker;
    -webkit-animation-duration: 5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;	
}