div.left {
	height: 100%;
	width:175px;
	float:left;
}

div.left1 {
	height: 33%;
	width: 100%;
	background: #f2f2f2;
	float: top;
	margin-bottom: 2px;
	text-align: center;
}

div.right {
	width: 325px;
	height: 100%;
	float: right;
}

#mainValues {
	font-size: 60px;
	color: blue;
	text-shadow: 2px 2px 3px #000000;
}

#mainHeader {
	font-size: 35px;
	color: #443E44;
	text-shadow: 1px 1px 2px #000000;
}

#inThreshold {
	color: red;
}

.tooltip {
	/*
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
	*/
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover {
	background:-o-linear-gradient(bottom, #a2dfe5 5%, #fcfcfc 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a2dfe5), color-stop(1, #fcfcfc) );
	background:-moz-linear-gradient( center top, #a2dfe5 5%, #fcfcfc 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#a2dfe5", endColorstr="#fcfcfc");	background: -o-linear-gradient(top,#a2dfe5,fcfcfc);

	background-color:#a2dfe5;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.CSSTableGenerator { /* Main Div */
	margin:0px;
	padding:0px;
	width:98%;
	height:auto;
	box-shadow: 5px 5px 2px #888888;
	border:1px solid #000000;
	
	-moz-border-radius-bottomleft:9px;
	-webkit-border-bottom-left-radius:9px;
	border-bottom-left-radius:9px;
	
	-moz-border-radius-bottomright:9px;
	-webkit-border-bottom-right-radius:9px;
	border-bottom-right-radius:9px;
	
	-moz-border-radius-topright:9px;
	-webkit-border-top-right-radius:9px;
	border-top-right-radius:9px;
	
	-moz-border-radius-topleft:9px;
	-webkit-border-top-left-radius:9px;
	border-top-left-radius:9px;
}
.CSSTableGenerator table{
    border-collapse: collapse;
    border-spacing: 0;
	width:100%;
	height:auto;
	margin:0px;
	padding:0px;
	/* Background image if desired
	background:url(Comcast_M_COLOR_BLK.JPG);
	background-repeat: no-repeat;
	background-position: center;
	*/
}

.CSSTableGenerator tr:last-child td:last-child { /* Rounded corner bottom right */
	-moz-border-radius-bottomright:9px;
	-webkit-border-bottom-right-radius:9px;
	border-bottom-right-radius:9px;
}
.CSSTableGenerator table tr:first-child td:first-child { /* Rounded corner top left */
	-moz-border-radius-topleft:9px;
	-webkit-border-top-left-radius:9px;
	border-top-left-radius:9px;
}
.CSSTableGenerator table tr:first-child td:last-child { /* Rounded corner top right */
	-moz-border-radius-topright:9px;
	-webkit-border-top-right-radius:9px;
	border-top-right-radius:9px;
}
.CSSTableGenerator tr:last-child td:first-child{ /*Rounded bottom left */
	-moz-border-radius-bottomleft:9px;
	-webkit-border-bottom-left-radius:9px;
	border-bottom-left-radius:9px;
}

.CSSTableGenerator tr:last-child td{ /* Right border last row */
	border-width:0px 1px 0px 0px;
}
.CSSTableGenerator tr td:last-child{ /* Bottom border last column */
	border-width:0px 0px 1px 0px;
}
.CSSTableGenerator tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.CSSTableGenerator tr:first-child td:first-child{ /*Border between headers and top left data row */
	border-width:0px 0px 1px 0px;
}
.CSSTableGenerator tr:first-child td:last-child{ /*Border between header and last data column and last header and header to the left. */
	border-width:0px 0px 1px 1px;
}


/*Alternating background colors */
.CSSTableGenerator tr:nth-child(odd){ background-color:#F5FAFF; opacity: 0.95; }
.CSSTableGenerator tr:nth-child(even)    { background-color:#ffffff; opacity:0.95;}

.CSSTableGenerator td:first-child {/*Left Hand Column*/
	background-color:#fcfcfc;
	font-size: 14px;
	font-family: Arial;
	font-weight: bold;
	width:60%;
	text-align: left;
}

.CSSTableGenerator td{ /* Most data items */
	vertical-align:middle;
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:center;
	padding:7px;
	font-size:17x;
	font-family:Arial;
	font-weight:bold;
	color:#000000;
}

.CSSTableGenerator tr:first-child td{ /* Headers */
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b7b7b7+0,000000+100&amp;0.65+0,0+63 */
background: -moz-linear-gradient(top,  rgba(183,183,183,0.65) 0%, rgba(68,68,68,0) 63%, rgba(0,0,0,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(183,183,183,0.65)), color-stop(63%,rgba(68,68,68,0)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(183,183,183,0.65) 0%,rgba(68,68,68,0) 63%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(183,183,183,0.65) 0%,rgba(68,68,68,0) 63%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(183,183,183,0.65) 0%,rgba(68,68,68,0) 63%,rgba(0,0,0,0) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(183,183,183,0.65) 0%,rgba(68,68,68,0) 63%,rgba(0,0,0,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6b7b7b7', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */



	background-color:#ffffff;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:18px;
	font-family:Arial;
	font-weight:bold;
	color:#191919;
}



.CSSTableGenerator tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #a8a4a4 5%, #fcfcfc 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a8a4a4), color-stop(1, #fcfcfc) );
	background:-moz-linear-gradient( center top, #a8a4a4 5%, #fcfcfc 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#a8a4a4", endColorstr="#fcfcfc");	background: -o-linear-gradient(top,#a8a4a4,fcfcfc);

	background-color:#a8a4a4;
}